package {{apiPackage}}

{{#imports}}import {{import}}
{{/imports}}import io.ktor.client.HttpClient
import io.ktor.client.call.body
import io.ktor.client.request.HttpRequestBuilder
import io.ktor.client.request.request
import io.ktor.client.request.setBody
import io.ktor.http.ContentType
import io.ktor.http.HttpMethod
import io.ktor.http.contentType
import io.ktor.http.encodedPath
import io.ktor.http.takeFrom
{{#useHilt}}
import javax.inject.Inject
import javax.inject.Singleton
{{/useHilt}}

{{#useHilt}}
@Singleton
class {{classname}} @Inject constructor(
    private val httpClient: HttpClient,
) {
{{/useHilt}}
{{^useHilt}}
class {{classname}}(
    private val httpClient: HttpClient,
    private val baseUrl: String = BASE_URL,
) {
{{/useHilt}}
    private companion object {
        const val BASE_URL = "{{{basePath}}}"
    }
{{#operation}}
    suspend fun {{operationId}}({{#allParams}}{{paramName}}: {{{dataType}}}{{^required}}? = null{{/required}}{{^-last}}, {{/-last}}{{/allParams}}): {{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}Unit{{/returnType}} {
        val request = HttpRequestBuilder().apply {
            method = HttpMethod.{{httpMethod}}
            url {
                takeFrom({{#useHilt}}BASE_URL{{/useHilt}}{{^useHilt}}baseUrl{{/useHilt}})
                encodedPath = "/{{path}}"
                {{#queryParams}}
                {{#isContainer}}{{paramName}}?.forEach { parameters.append("{{baseName}}", it.toString()) }{{/isContainer}}
                {{^isContainer}}{{paramName}}?.let { parameters.append("{{baseName}}", it.toString()) }{{/isContainer}}
                {{/queryParams}}
            }
            {{#headerParams}}
            {{paramName}}?.let { headers.append("{{baseName}}", it.toString()) }
            {{/headerParams}}
            {{#bodyParams}}
            contentType(ContentType.Application.Json)
            setBody({{paramName}})
            {{/bodyParams}}
        }
        {{#returnType}}return httpClient.request(request).body(){{/returnType}}
        {{^returnType}}httpClient.request(request){{/returnType}}
    }

{{/operation}}
}
