package {{modelPackage}}

{{#imports}}import {{import}}
{{/imports}}import kotlinx.serialization.Serializable

{{#models}}
{{#model}}
{{#isEnum}}
@Serializable
enum class {{classname}} { {{#allowableValues}}{{#enumVars}}{{name}}{{^-last}}, {{/-last}}{{/enumVars}}{{/allowableValues}} }
{{/isEnum}}
{{^isEnum}}
{{#isAlias}}typealias {{classname}} = {{dataType}}{{/isAlias}}
{{^isAlias}}
@Serializable
data class {{classname}}(
{{#vars}}
    @kotlinx.serialization.SerialName("{{baseName}}") val {{name}}: {{{dataType}}}{{^required}}? = null{{/required}}{{^-last}},{{/-last}}
{{/vars}}
)
{{/isAlias}}
{{/isEnum}}
{{/model}}
{{/models}}
